.mrg-d {
  margin-left: 95%;
  padding: 5px;
  font-size: 35px;
  color: rgb(26, 27, 27);
}

.msg1 {
  margin-top: -30px;
}

.p-n {
  position: absolute;
  color: rgb(252, 249, 249);
  font-size: 15px;
  margin-top: -34px;
  margin-left: 1.5%;
}

.star {
  color: white;
}

.img {
  width: 30px;
}

.bg-img {
  background-image: url('https://image.freepik.com/vetores-gratis/tecnologia-de-internet-em-nuvem_53876-94170.jpg');
}

@media screen and (max-width: 780px) {
}

.titolo {
  color: white;
  font-weight: bold;
  text-shadow: 0 3px 0 rgb(121, 116, 116), 0 1px 0 #c9c9c9, 0 1px 0 #bbb,
    0 1px 0 #b9b9b9, 0 1px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1),
    0 0 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3),
    0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}

.titolo2 {
  margin: auto;
  font-size: 25px;
  color: rgb(0, 255, 242);
  font-weight: bold;
  text-shadow: 0 3px 0 rgb(121, 116, 116), 0 1px 0 #c9c9c9, 0 1px 0 #bbb,
    0 1px 0 #b9b9b9, 0 1px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1),
    0 0 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3),
    0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}

.mrg {
  margin-top: 5px;
  position: absolute;
}
